<footer class="bg-dark text-white mt-5 pt-5 pb-4">
    <div class="container">
        <div class="row">
            <!-- About Us Section -->
            <div class="col-md-4 mb-4">
                <h5>About Us</h5>
                <p>
                    We are dedicated to providing comfortable and affordable accommodations for students and professionals. Our mission is to create a hassle-free experience with all the essential facilities included.
                </p>
            </div>
            
            <!-- Facilities Section -->
            <div class="col-md-4 mb-4">
                <h5>Our Facilities</h5>
                <ul class="list-unstyled">
                    <li>24/7 Power Backup</li>
                    <li>High-Speed WiFi</li>
                    <li>Housekeeping Services</li>
                    <li>Fully Furnished Rooms</li>
                    <li>Shared Kitchen and Dining Area</li>
                    <li>Security Surveillance</li>
                </ul>
            </div>
            
            <!-- Contact and Social Media Section -->
            <div class="col-md-4 mb-4">
                <h5>Contact Us</h5>
                <p>For inquiries, reach out to us via our social channels or email:</p>
                <a href="/contact"><button class="btn btn-outline-light btn-sm mb-3">Contact</button></a>
                
                <div>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <small>&copy; 2024 roommates.com. All rights reserved.</small>
        </div>
    </div>
</footer>
